* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

input {
  &[type=text], &[type=password], &[type=submit] {
    border: 1px solid #ddd;
    padding: 5px;
    outline: 0;
  }
}

textarea {
  border: 1px solid #ddd;
  padding: 5px;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 15px;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 25px;
  line-height: 30px;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

.alignleft {
  float: left;
  margin-right: 10px;
}

.aligncenter {
  display: block;
  margin: 10px auto;
}

.alignright {
  float: right;
  margin-left: 10px;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.wrapper {
  width: 1020px;
  display: block;
  margin: 0 auto;
}

.clearfix {
  overflow: hidden;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

#selectnav1 {
  display: none;
}

/* home page style */

#header_area {

}

#content_area {

  padding-top: 25px;
}

#footer_top_area {
  background: none repeat scroll 0 0 #171716;
  margin-top: 25px;
  padding: 20px 0;
  border-top: 5px solid #FFD500;
}

#footer_bottom_area {
  padding: 15px 0px;
  background: #222;
}

.header {}

.header_top {
  padding: 15px 0;
}

.logo a h1 {
  color: #fff;
  font-family: oswald;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  span {
    color: #ffd500;
  }
}

.search {
  background: none repeat scroll 0 0 #2c2c2b;
  border: 1px solid #595957;
  padding: 5px;
  input {
    &[type="text"] {
      background: none;
      border: none;
      outline: 0;
      color: #999;
      width: 200px;
    }
    &[type="submit"] {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;

      border-image: none;
      border-style: none none none solid;
      border-width: medium medium medium 1px;
      cursor: pointer;
      height: 22px;
      padding-left: 5px;
      text-indent: -99999px;
      width: 33px;
    }
  }
}

.header_bottom {
  background: none repeat scroll 0 0 #ffd500;
  min-height: 30px;
  padding: 10px;
  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        font-family: oswald;
        font-size: 15px;
        padding: 5px 15px;
        &:hover {

          -webkit-transition: background 300ms ease-in;
          -moz-transition: background 300ms ease-in;
          -ms-transition: background 300ms ease-in;
          -o-transition: background 300ms ease-in;
          transition: background 300ms ease-in;
        }
      }
    }
  }
}

/* dropdown menu*/

/* dropdown menu 2nd level*/

#dropdown {

  padding-right: 2px;
}

.header_bottom ul {
  li {
    ul {
      background: none repeat scroll 0 0 #FFD500;
      left: -99999px;
      position: absolute;
      z-index: 1000;
      transition: all .3s ease 0s;
      -moz-transition: all .3s ease 0s;
      -webkit-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      -ms-transition: all .3s ease 0s;
    }
    &:hover ul {
      left: 0px;
      top: 30px;
    }
    ul li {
      width: 200px;
      border-bottom: 1px solid #ddd;
      &:last-child {
        border-bottom: 0px;
      }
      a {
        padding: 10px;
      }
    }
  }
  ul li a:hover {

    -webkit-transition: background 300ms ease-in;
    -moz-transition: background 300ms ease-in;
    -ms-transition: background 300ms ease-in;
    -o-transition: background 300ms ease-in;
    transition: background 300ms ease-in;
    padding-left: 15px;
    transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
  }
}

.main_content_area {}

.main_content {
  width: 690px;
  margin-right: 10px;
}

.slider {

  margin-bottom: 35px;
  padding: 5px;
}

.content {}

.content_title {

  height: 73px;
  margin-bottom: 15px;
  h2 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
    padding: 8px;
    text-transform: uppercase;
  }
}

.single_content {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 3px solid #E7E7E7;
  &:last-child {
    border-bottom: none;
  }
}

.post_date {
  background: none repeat scroll 0 0 #c3c3c3;
  margin-right: 10px;
  padding: 5px;
  .date {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
  }
  p {
    font-size: 14px;
    font-family: oswald;
  }
}

.post_detail {
  > a {

    display: block;
    font-family: oswald light;
    margin-top: 10px;
    padding: 5px 10px;
    width: 140px;
    float: right;
    &:hover {
      font-family: oswald;
    }
  }
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    a {}
  }
}

.post-meta {
  margin-bottom: 25px;
  p span {
    background: none repeat scroll 0 0 #ecebeb;
    color: #999;
    padding: 5px 14px;
    i {
      color: #A09E9E;
    }
  }
}

.post_excerpt {
  img {
    float: left;
    margin-right: 10px;
    width: 220px;
    height: 150px;
  }
  p {}
}

.pagination {
  margin-bottom: 15px;
  ul {
    text-align: center;
    li {
      display: inline-block;
      margin-right: 3px;
      a {
        background: none repeat scroll 0 0 #e7e7e7;
        color: #999;
        padding: 5px 8px;
        &:hover {
          background: #464646;
          color: #fff;
        }
      }
    }
  }
}

.sidebar_container {
  background: none repeat scroll 0 0 #fff;
  width: 300px;
}

.newsletter {
  padding: 10px;
  border-bottom: 3px solid #ddd;
  margin-bottom: 25px;
  form {
    > h2 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
    }
    input[type=text] {
      height: 25px;
      width: 250px;
      margin-bottom: 15px;
      box-shadow: inset 0px 0px 50px 0px #999999;
      -webkit-box-shadow: inset 0px 0px 50px 0px #999999;
      -moz-box-shadow: inset 0px 0px 50px 0px #999999;
      -o-box-shadow: inset 0px 0px 50px 0px #999999;
    }
  }
  > h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }
  input[type=email] {
    border: 1px solid #ddd;
    height: 35px;
    padding-left: 5px;
    width: 257px;
    margin-bottom: 15px;
    box-shadow: inset 0px 0px 50px 0px #999999;
    -webkit-box-shadow: inset 0px 0px 50px 0px #999999;
    -moz-box-shadow: inset 0px 0px 50px 0px #999999;
    -o-box-shadow: inset 0px 0px 50px 0px #999999;
  }
  form input[type=submit] {

    border: medium none;
    font-family: oswald light;
    font-size: 14px;
    padding: 8px;
    text-transform: uppercase;
    width: 120px;
    cursor: pointer;
  }
}

.sidebar {}

.single_sidebar {
  > h2 {}

  padding: 10px;
  margin-bottom: 25px;
}

.sidebar_title {

  height: 73px;
  margin-bottom: 15px;
  > h2 {
    background: none repeat scroll 0 0 #222222;
    color: #fff;
    font-size: 16px;
    margin-left: -10px;
    margin-top: -10px;
    padding: 8px 10px;
    text-transform: uppercase;
    width: 100%;
  }
}

/*popular post*/

.single_sidebar {
  .popular_post ul li a {
    display: block;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: oswald;
    box-shadow: 1px 4px 3px -2px #DDDDDD;
    -webkit-box-shadow: 1px 4px 3px -2px #DDDDDD;
    -moz-box-shadow: 1px 4px 3px -2px #DDDDDD;
    -o-box-shadow: 1px 4px 3px -2px #DDDDDD;
    &:hover {
      background: #FFD500;
      -webkit-transition: background 300ms ease-in;
      -moz-transition: background 300ms ease-in;
      -ms-transition: background 300ms ease-in;
      -o-transition: background 300ms ease-in;
      transition: background 300ms ease-in;
    }
  }
  .cat-item {
    background: none repeat scroll 0 0 #454545;
    color: #ffd500;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-align: right;
    a {
      color: #ddd;
      display: inline-block;
      font-weight: normal;
      width: 80%;
      text-align: left;
      float: left;
      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
    &:hover {
      color: #000;
      background: #FFD500;
      -webkit-transition: background 300ms ease-in;
      -moz-transition: background 300ms ease-in;
      -ms-transition: background 300ms ease-in;
      -o-transition: background 300ms ease-in;
      transition: background 300ms ease-in;
    }
  }
  > ul li {
    margin-bottom: 10px;
    padding: 5px;
    background: #fff;
    a:hover {
      text-decoration: underline;
    }
  }
}

/*Category*/

/*default sidebar list item*/

.footer_top {}

.footer_top_container {
  margin-left: -20px;
}

.single_footer_top {
  color: #999;
  margin-left: 20px;
  width: 326px;
  h2 {
    color: #FFD500;
  }
  a {
    color: #ddd;
  }
  ul li a {
    background: none repeat scroll 0 0 #000;
    color: #ddd;
    display: block;
    margin-bottom: 5px;
    padding: 8px;
    font-family: oswald light;
    &:hover {
      background: #FFD500;
      color: #000;
    }
  }
}

.footer_bottom {}

.copyright {
  font-family: oswald;
  margin-top: 8px;
  p {
    color: #fff;
  }
  span {
    color: #ffd500;
  }
}

.social ul li {
  float: left;
  a {
    color: #fff;
    display: block;
    font-size: 25px;
    padding: 5px;
    &:hover {
      color: #FFD500;
    }
  }
}

/* Single page style */

.content {
  h1 {
    font-size: 25px;
    line-height: 30px;
  }
  h2, h3, h4, h5, h6 {
    font-size: 16px;
  }
}

.rectangle_large {
  width: 336px;
  height: 280px;
  box-shadow: 1px 1px 13px -2px #DDDDDD;
  -webkit-box-shadow: 1px 1px 13px -2px #DDDDDD;
  -moz-box-shadow: 1px 1px 13px -2px #DDDDDD;
  -o-box-shadow: 1px 1px 13px -2px #DDDDDD;
  display: block;
}

.rectangle_medium {
  width: 300px;
  height: 250px;
  box-shadow: 1px 1px 13px -2px #DDDDDD;
  -webkit-box-shadow: 1px 1px 13px -2px #DDDDDD;
  -moz-box-shadow: 1px 1px 13px -2px #DDDDDD;
  -o-box-shadow: 1px 1px 13px -2px #DDDDDD;
  display: block;
}

blockquote {
  border-left: 3px solid #ffd500;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-top: 10px;
  padding: 10px;
  background: #f5f5f5;
}

.more_post_container {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ddd;
  padding: 10px;
  h2 {
    border-left: 5px solid #ffd500;
    margin-bottom: 0;
    padding: 5px;
  }
}

.more_post {
  background: none repeat scroll 0 0 #f5f5f5;
  border-left: 5px solid #ddd;
  padding: 10px 5px;
  a {
    display: block;
    margin-bottom: 2px;
    color: #000;
    &:hover {
      color: #FFD500;
      font-weight: bold;
    }
  }
}

.advertisement_container, .advertisement {}

.content ul {
  margin-left: 30px;
  li {
    margin-bottom: 5px;
    color: #222;
    a {
      color: #222;
      display: block;
      padding: 5px;
      &:hover {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}

.btn {
  display: inline-block;
  padding: 8px 14px;
  background: #FFD500;
  margin: 15px 5px 15px 0px;
  font-family: oswald;
  &:hover {
    background: #F1B215;
  }
}

/*Related post */

.more_themes {
  margin-top: 50px;
  width: 100%;
  > h2 {

    font-weight: bold;
    margin-bottom: 30px;
    padding: 8px;
  }
  h2 i {
    color: #ffd500;
  }
}

.more_themes_container {
  margin-left: -15px;
}

.single_more_themes {
  margin-left: 15px;
  width: 220px;
  background: #FFD500;
  color: #fff;
  margin-bottom: 15px;
  img {}
  a h2 {
    color: #000;
    font-size: 14px;
    margin-bottom: 0;
    padding: 5px;
    text-align: center;
  }
}

/*Related post for work*/

.more_works {
  margin-top: 50px;
  width: 100%;
  > h2 {
    background: none repeat scroll 0 0 #454545;
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 8px;
    border-left: 5px solid #FFD500;
  }
  h2 i {
    color: #ffd500;
  }
}

.more_works_container {
  margin-left: -15px;
}

.single_more_works {
  background: none repeat scroll 0 0 #222;
  margin-bottom: 15px;
  margin-left: 15px;
  width: 220px;
  img {}
  a h2 {
    color: #ffd500;
    font-size: 14px;
    margin-bottom: 0;
    padding: 5px;
  }
}

/* work page style*/

.single_work_container {
  margin-left: -15px;
}

.single_work {
  float: left;
  margin-left: 15px;
  width: 337px;
  position: relative;
  margin-bottom: 15px;
  height: 190px;

  &:hover {
    img.img_bottom {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.7;
      transition: all 1.3s ease 0s;
      -moz-transition: all 1.3s ease 0s;
      -webkit-transition: all 1.3s ease 0s;
      -o-transition: all 1.3s ease 0s;
      -ms-transition: all 1.3s ease 0s;
    }
    p.caption {
      position: absolute;
      bottom: 0;
      color: #fff;
      padding: 5px;
    }
  }
  img {}
  h2 {
    background: none repeat scroll 0 0 #ffd500;
    font-size: 16px;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    font-size: 16px;
    font-family: oswald;
  }
}

.work_pagination {
  width: 98%;
  margin-left: 15px;
  .newer, .older {
    background: none repeat scroll 0 0 #454545;
    color: #ffd500;
    display: block;
    font-family: oswald;
    padding: 10px;
  }
  .newer:hover, .older:hover {
    background: #222;
  }
}

/* single work page style */

.single_work_page {
  background: #f5f5f5;
}

.work_single_page_feature img {}

.work_meta {
  background: none repeat scroll 0 0 #ddd;
  padding: 20px;
  p {
    font-family: sans-serif;
    span {
      display: inline-block;
      font-family: oswald;
      margin-right: 15px;
    }
  }
  a {
    font-family: oswald;
  }
}

.single_work_page_content {
  padding: 10px;
}

/* contact page style */

.contact_us {}

.wpcf7-text:focus, .wpcf7-email:focus, .wpcf7-textarea:focus {
  box-shadow: 0.1px 0.1px 5px 1px #ddd !important;
  transition: all 0.5s ease-in-out 0s !important;
}

.contact_us form {
  margin-left: 30px;
  margin-top: 25px;
  p {
    margin-bottom: 10px;
  }
  input {
    &.wpcf7-text, &.wpcf7-email {
      width: 45%;
      height: 30px;
    }
  }
  textarea.wpcf7-textarea {
    height: 150px;
    width: 70%;
  }
  input.wpcf7-submit {
    background: #222222;
    border: medium none;
    color: #FFD500;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 40px;
    font-family: oswald;
    &:hover {
      background: #FFD500;
      color: #000;
    }
  }
}